{% extends "base.html" %}
{% load static %}

{% block title %}Agencies{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
	    <h1>Agencies</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul>
        {% for agency in object_list %}
          <li>
            <a href="{% url 'record_requests:agency-detail' name=agency.name %}">{{ agency.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
