{% extends "base.html" %}
{% load static %}

{% block title %}Agency: {{object.name}}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
	    <h1>{{ object.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Requests</h2>
        {% for record_request in object.recordrequest_set.all %}
          <h3 id="record-request-{{ record_request.pk }}">
            <a href="{% url 'record_requests:request-detail' record_request.pk %}">
              {{ record_request.title }}
            </a>
          </h3>
          <ul>
            <li>Status: <strong>{{ record_request.status_label }}</strong></li>
            <li>Last updated: {{ record_request.updated_at }}</li>
            <li>Description: {{ record_request.description }}</li>
          </ul>

          {% if not forloop.last %}
            <hr />
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
